html{
	width: 100%;
}

body{
	background: #f4f4f4;
	font-family: 'Share Tech Mono', monospace;
}

h1{
	font-size: 50px;
    text-align: center;
}

table{
    margin: 0 auto;
}

td{
	text-align: center;
	font-size: 50px;
    width: 175px;
    height: 175px;
}

.vertical{
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.horizontal{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.O{
	color: red;
}

.X{
	color: blue;
}